/target
# local copies of similar octatrack sample management implementations
refs/
*.swp
outchains/
infiles/
outfiles/
inchains/
*.xml
.qlty/
# generated directory contents
data/tests/projects/sample-slots/**/test/
*.theia*
